/* Awalan */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

  /* Area Gelap */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

  /* Area Clear */
.container::after {
    content: "";
    clear: both;
    display: table;
}

  /* Gambar */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

  /* Style Gambar */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

  /* Jam Chat */
.time-right {
    float: right;
    color: #aaa;
}

  /* Style Jam */
.time-left {
    float: left;
    color: #999;
}